.triangle_left {
  width: 0;
  height: 0;
  border-top: 25px solid transparent;
  border-right: 50px solid #555;
  border-bottom: 25px solid transparent;
}

.triangle_right {
  width: 0;
  height: 0;
  border-top: 25px solid transparent;
  border-left: 50px solid #555;
  border-bottom: 25px solid transparent;
}

.triangl_down {
  width: 0;
  height: 0;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-top: 50px solid #555;
}

.triangle_up {
  width: 0;
  height: 0;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-bottom: 50px solid #555;
}

.trapezoid {
  border-bottom: 50px solid #555;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  height: 0;
  width: 125px;
}

.rectangle {
  height: 50px;
  width: 100px;
  background-color: #555;
}

.parallelogram {
  width: 100px;
  height: 50px;
  transform: skew(20deg);
  background: #555;
}

.square {
  height: 50px;
  width: 50px;
  background-color: #555;
}

.circle {
  height: 50px;
  width: 50px;
  background-color: #555;
  border-radius: 50%;
}

.oval {
  height: 50px;
  width: 100px;
  background-color: #555;
  border-radius: 50%;
}

.card_inside {
  position: relative;
  &:hover {
    background-color: #ffa200;
    cursor: pointer;
  }
}

.sub_title {
  background-color: rgba(110, 218, 120, 1);
  color: white;
  height: 30px;
  width: 110px;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  margin: 0 auto;
  bottom: -20px;
  left: 0;
  right: 0;
}
